*{
    margin: 0;
    padding: 0%;
    text-wrap: nowrap;
   
}
.lpage{
    background-color: #000000;
    background-image: url(./pawel-czerwinski-V558Lx_ji6I-unsplash.jpg);
    width: 100vw;
height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav{

    display: flex;
    justify-content: space-between;
    border-top: #ffffff 1px solid;
    border-bottom: #ffffff 1px solid;
}
#nav1{
    display: flex;
    justify-content: space-around;
}
.n1{
    color: #ffffff;
    font: 3em sans-serif;
    padding: 5px 20px;
    font-weight: 600;
    border-right: #ffffff 1px solid;
    border-left: #ffffff 1px solid;
    margin-left: 10px;
}

.n2{
    display: flex;
}
.n21 ul{
    list-style: none;
    display: flex;
    color: #ffffff;
    font: 2em sans-serif;

}
.nav12 ul{
    list-style: none;
    display: flex;
}
.nav12 li{
    padding: 0px 10px;
}
.n21 li{
    padding: 15px 15px;
    border-left:1px white solid ;
    border-right:1px white solid ;

}
.n21 {
    display: flex;
    justify-content: flex-end;
}
.n31{
    padding: 17px 15px;

}
.n31 button{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(50, 97, 72) 0%, rgb(28, 76, 50) 4%, rgba(20,135,68,1) 29%, rgba(10,75,27,1) 67%, rgba(25,87,63,1) 100%);
    padding:5px 17px;
   border: none;
   font-size: large;
    border-radius: 5px;
    color: #ffffff;
}
.nav11{
    color: #8b8b8b;
    padding: 5px;
   
}
.nav11 a{
 color: #bcb6b6;
    text-decoration: none;
    padding: 0px 5px;
  

}
main{
    display: flex;
    justify-content: space-around;
}
.main11{
    margin-top: 140px;
    margin-right: 350px;
}
.m11{
    font: 7em sans-serif; 
    font-weight: 700;
    color: #ffffff;
}
.m12 input{
    background-color: rgba(90, 89, 88, 0.177);
    border-radius: 25px;
    padding: 10px 50px;
    border: #ffffff 1px solid;
    font-size: 30px;
    color: #ffffff;
    cursor: auto;
}
.m13{
    display: flex;

}
.m12{

    margin-top: 20px;
 }
.m13 button{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(50, 97, 72) 0%, rgb(28, 76, 50) 4%, rgba(20,135,68,1) 29%, rgba(10,75,27,1) 67%, rgba(25,87,63,1) 100%);
        padding:5px 17px;
       border: none;
       font-size: large;
        border-radius: 5px;
        color: #ffffff;
        margin-left:  10px;
        margin-top: 40px;
}
.nav12 li:hover{
    background-color: #bcb6b6;
}
.nav11 a:hover{
    color: #ffffff;
}
.n31 button:hover{
    background: rgb(64, 74, 9);
    background: linear-gradient(90deg, rgb(17, 162, 70) 12%, rgba(0,233,61,1) 67%, rgba(0,168,103,1) 100%);

}
.m13 button:hover{
    background: rgb(64, 74, 9);
    background: linear-gradient(90deg, rgb(17, 162, 70) 12%, rgba(0,233,61,1) 67%, rgba(0,168,103,1) 100%);

}
.n21 li:hover{
    background-color: #9ce4c541;

}
@media screen and (max-width:990px) {
    .n21 ul{
        display: none;
    }
    
}
@media screen and (min-width:990px) {
    #but1{
       display: none; 
    }
    
}
@media screen and (min-width:990px) {
    .btn{
       display: none; 
    }
    
}
@media screen and (max-width:990px) {
    .main11{
      margin-left: 100px;
    }
    
}
@media screen and (max-width:630px) {
    .main11{
      margin-left: 10px;
    }
    
}
@media screen and (max-width:990px) {
    main{
       display: block
    }
    
}
@media screen and (max-width:650px) {
    .nav11{
        display: none;
    }
    
}
@media screen and (max-width:376px) {
    .m11{
        font-size: 5em;
    }
    
}
@media screen and (max-width:320px) {
    .m11{
        font-size: 3em;
    }
    
}
@media screen and (max-width:430px) {
    .m11{
        font-size: 5em;
    }
    
}
@media screen and (max-width:510px) {
    .m11{
        font-size: 5em;
    }
    
}

@media screen and (max-width:376px) {
    .m12 input{
        font-size: 20px;
    
    }
    
}
@media screen and (max-width:320px) {
    .m12 input{
        font-size: 15px;
     
    }
    
}
@media screen and (max-width:427px) {
    .m12 input{
        font-size: 25px;
     
    }
    
}
#but1{
    
padding: 2px 10px 4px 10px;
}
